modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33545
externalPort = 3002

[[ports]]
localPort = 34999
externalPort = 8080

[[ports]]
localPort = 35299
externalPort = 4200

[[ports]]
localPort = 36155
externalPort = 3000

[[ports]]
localPort = 36307
externalPort = 6000

[[ports]]
localPort = 38793
externalPort = 5000

[[ports]]
localPort = 39169
externalPort = 3003

[[ports]]
localPort = 39601
externalPort = 8081

[[ports]]
localPort = 40537
externalPort = 8000

[[ports]]
localPort = 42113
externalPort = 6800

[[ports]]
localPort = 42523
externalPort = 8008

[[ports]]
localPort = 43933
externalPort = 3001

[[ports]]
localPort = 45025
externalPort = 9000

[[ports]]
localPort = 45697
externalPort = 8099

[[ports]]
localPort = 46819
externalPort = 5173

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_anthropic:1.0.0", "stripe:2.0.0", "javascript_stripe:1.0.0"]

[userenv]

[userenv.shared]
PLANETSCALE_HOST = "us-east-3.pg.psdb.cloud"
PLANETSCALE_PORT = "6432"
PLANETSCALE_DATABASE = "postgres"
PLANETSCALE_USERNAME = "pscale_api_5ieuakm95ijn.j6rkjm2a5g0g"
AWS_S3_BUCKET = "apex-mart-wholesale-bucket"
AWS_S3_REGION = "us-east-1"
TESTING_VITE_STRIPE_PUBLIC_KEY = "pk_test_51RwØ1sRXQ4ZzM89Ldw0Bi9SYCFSapx mRZz2aiRyYЗiEНАJj04ae5ijSFIr3udhbQAvWCU pu7GFDwBclA7BJ4mzAn00z2dU5G7V"
TESTING_STRIPE_SECRET_KEY = "sk_test_51Rw015RxQ4ZzM89L0AoTMmTS7WrjKw F45MSuorQJAЗASJaQwWbX7Fz2NLr80u43Gq20Ht Y0iA9urYaWWUbu4fl5D00wbFgKZcQ"
